{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<section class="section banner_section">
<div{{ attributes }}>
  <div class="row align-items-center">
    <div class="col-md-7">
      {{ title_prefix }}
      {% if label %}
        <h1{{ title_attributes }}>{{ label }}</h1>
      {% endif %}
      {{ title_suffix }}
      {# {% block content %}
        <div class="mobile_no_form">
        {{ content.form }}
        </div>
      {% endblock %} #}
      <h4>Open an Account in 5 minutes</h4>
      <a href="https://play.google.com/store/apps/details?id=com.fivepaisaloans.p2p.prod&hl=en_IN&gl=US" class="btn btn-field">Download App Now</a>
    </div>
    <div class="col-md-5 mob-hide">
      {# <img src="{{ base_path ~ directory }}/images/dashboard-mob.png" alt=""> #}
      {{ content.image }}
    </div>
  </div>
</div>
</section>
