<div class="loader full_page-loader" style="display:none;">
  <img src="{{ base_path ~ directory }}/images/dashboard//loader.gif" alt="">
</div>
<div class="wrapper">
      <aside class="sidebar">
        <div class="logo text-center">
          <a href="{{ url("<front>") }}dashboard/{{userpagetype}}/overview">
            <img src="{{ base_path ~ directory }}/images/dashboard/logo@3x.png" alt="">
          </a>
        </div>
        <div class="user_name d-flex align-items-center">
          <div class="avtar"><img src="{{ base_path ~ directory }}/images/dashboard/user-profile.jpg" alt=""></div>
          <h5 class="name">{{name}}</h5>
        </div>
        <div class="menu">
          <ul>
            <li class="active"> <!--ADD CLASS 'active' TO CURRENT PAGE-->
              <a href="{{ url("<front>") }}dashboard/{{userpagetype}}/overview"><i class="icon icon-overview"></i>Overview</a>
            </li>
            <li>
              <a href="{{ url("<front>") }}dashboard/{{userpagetype}}/portfolio-performance"><i class="icon icon-statement"></i>Portfolio performance</a>
            </li>
            <li>
              <a href="{{ url("<front>") }}dashboard/{{userpagetype}}/account-statement"><i class="icon icon-loan"></i>Account Statement</a>
            </li>
            {# <li>
              <a href="{{ url("<front>") }}dashboard/{{userpagetype}}/tax-statement"><i class="icon icon-NOC"></i>Tax statement</a>
            </li> #}
            <li>
              <a href="{{ url("<front>") }}dashboard/{{userpagetype}}/contact-us"><i class="icon icon-phone"></i>Contact Us</a>
            </li>
          </ul>
        </div>
      </aside>
      
      <main class="main_content">
        <div class="header d-flex align-content-center">
          <button type="button" class="btn btn-humburger align-self-center"><span></span></button>
          <div class="row align-items-center">
            <div class="col-auto">
              <h1 class="page_name"><i class="icon icon-overview"></i><span>Overview</span></h1>
            </div>
            <div class="col-auto ml-auto">
              <button type="button" class="icon-btn"><i class="icon-alarm"></i></button>
              <button type="button" class="icon-btn" id="logoutBtn"><i class="icon-logout"></i></button>
            </div>
          </div>
        </div>
        
        <div class="main_wrapper">
          <div class="container">

            <article class="summary_sec mb-20">
              <div class="row">
                <div class="col-lg-6">
                  <section class="panel summary-panel">
                    <div class="panel_wrap">
                      <div class="total_loan_amt">
                        <div class="row align-items-center m-lr-10">
                          <div class="col-auto">
                            <div class="icon-wrapper">
                              <img width="60" height="60" src="{{ base_path ~ directory }}/images/piggy-bank.png" alt="">
                            </div>
                          </div>
                          <div class="col-auto">
                            <h6 class="label_heading">Investment Summary</h6>
                          </div>
                        </div>
                      </div>
                      <div class="row m-lr-10">
                        <div class="col">
                          <h5 class="label_heading">Current Value</h5>
                          <h6 class="label_value" id="currentValue"><i class="icon-rupee"></i>0</h6>
                        </div>
                        <div class="col">
                          <h5 class="label_heading">Disbursed</h5>
                          <h6 class="label_value" id="disbursedAmount"><i class="icon-rupee"></i>0</h6>
                        </div>
                        <div class="col">
                          <h5 class="label_heading">Locked</h5>
                          <h6 class="label_value"  id="lockedAmount"><i class="icon-rupee"></i>0</h6>
                        </div>
                        <div class="col">
                          <h5 class="label_heading">Available</h5>
                          <h6 class="label_value" id="availableAmount"><i class="icon-rupee"></i>0</h6>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
                <div class="col-lg-6">
                  <section class="panel summary-panel">
                    <div class="panel_wrap">
                      <div class="total_loan_amt">
                        <div class="row align-items-center m-lr-10">
                          <div class="col-auto">
                            <div class="icon-wrapper">
                              <img width="60" height="60" src="{{ base_path ~ directory }}/images/loan-amt.png" alt="">
                            </div>
                          </div>
                          <div class="col-auto">
                            <h6 class="label_heading">Disbursement Summary</h6>
                          </div>
                        </div>
                      </div>
                      <div class="row m-lr-10">
                        <div class="col">
                          <h5 class="label_heading">Total Disbursement</h5>
                          <h6 class="label_value" id="totalInvestment"><i class="icon-rupee"></i>0</h6>
                        </div>
                        <div class="col">
                          <h5 class="label_heading">Principal received</h5>
                          <h6 class="label_value" id="principalRecovered"><i class="icon-rupee"></i>0</h6>
                        </div>
                        <div class="col">
                          <h5 class="label_heading">Interest received</h5>
                          <h6 class="label_value" id="interestReceived">0</h6>
                        </div>
                        <div class="col">
                          <h5 class="label_heading">XIRR</h5>
                          <h6 class="label_value" id="expectedReturn">0</h6>
                        </div>
                        <div class="col">
                          <h5 class="label_heading">Principal lost</h5>
                          <h6 class="label_value"  id="principalLost"><i class="icon-rupee"></i>0</h6>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </article>

            <section class="panel monthly_emi-panel x-xs-0">
              <div class="panel_header">
                <h2 class="panel_heading">Monthly EMI Details</h2>
              </div>
              <div class="table_wrapper">
                <div class="dt-buttons">
                  <h6>Download</h6>
                  <button class="dt-button buttons-pdf buttons-html5" id="downloadOverviewPdfBtn" type="button"><span>PDF</span></button>
                </div>
                <table class="table gradient-table" id="MonthlyEMI">
                  <thead>
                    <tr>
                      <th>EMI Month</th>
                      <th>Borrower Name</th>
                      <th>EMI Amount</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                  </tbody>
                </table>
              </div>
              <div class="panel_sticky_footer text-center">
                <div class="row justify-content-center">
                  <div class="col-auto">
                    <h4 class="footer_label">Total Amount Payable</h4>
                    <span class="total_amt"><i class="icon-rupee"></i>0</span>
                  </div>
                  <div class="col-auto">
                    <h4 class="footer_label">Received EMI Amount</h4>
                    <span class="total_amt"><i class="icon-rupee"></i>0</span>
                  </div>
                </div>
                
              </div>
            </section>

          </div>
        </div>
      </main>

    </div>
  <form id="downloadOverviewPDFform" action="{{ url('<front>') }}mapi/lendermonthlyemidetailsdownload.json" target="_blank">
    <input name="userid" type="hidden" id="userid" value="{{userid}}">
    <input name="name" type="hidden" id="name" value="{{name}}">
    <input name="token" type="hidden" id="token" value="{{token}}">
    <input name="usertype" type="hidden" id="usertype" value="{{usertype}}">
    <input type="submit" style="display:none;">
  </form>