<div class="wrapper">
      
    <aside class="sidebar">
      <div class="logo text-center">
        <a href="{{ url("<front>") }}dashboard/{{userpagetype}}/overview">
            <img src="{{ base_path ~ directory }}/images/dashboard/logo@3x.png" alt="">
          </a>
      </div>
      <div class="user_name d-flex align-items-center">
        <div class="avtar"><img src="{{ base_path ~ directory }}/images/dashboard/user-profile.jpg" alt=""></div>
        <h5 class="name">{{name}}</h5>
      </div>
      <div class="menu">
        <ul>
          <li class="active"> <!--ADD CLASS 'active' TO CURRENT PAGE-->
            <a href="{{ url("<front>") }}dashboard/{{userpagetype}}/overview"><i class="icon icon-overview"></i>Overview</a>
          </li>
          <li>
            <a href="{{ url("<front>") }}dashboard/{{userpagetype}}/account-statement"><i class="icon icon-overview"></i>Account Statement</a>
          </li>
          <li>
            <a href="{{ url("<front>") }}dashboard/{{userpagetype}}/loan-payment"><i class="icon icon-loan"></i>Loan Payment</a>
          </li>
          <li>
            <a href="{{ url("<front>") }}dashboard/{{userpagetype}}/noc"><i class="icon icon-NOC"></i>NOC</a>
          </li>
          <li>
            <a href="{{ url("<front>") }}dashboard/{{userpagetype}}/contact-us"><i class="icon icon-phone"></i>Contact Us</a>
          </li>
        </ul>
      </div>
    </aside>
    
    <main class="main_content borrower_overview-page">
      <div class="header d-flex align-content-center">
        <button type="button" class="btn btn-humburger align-self-center"><span></span></button>
        <div class="row align-items-center">
          <div class="col-auto col-name">
            <h1 class="page_name"><i class="icon icon-overview"></i><span>Overview</span></h1>
          </div>
          <div class="col-auto ml-auto">
            <button type="button" class="icon-btn"><i class="icon-alarm"></i></button>
            <button type="button" class="icon-btn" id="logoutBtn"><i class="icon-logout"></i></button>
          </div>
        </div>
      </div>
      
      <div class="main_wrapper borrower_overview-page">
        <div class="container mini-container">

          <section class="panel loan_detail-panel mr-b">
            {# <div class="loader full_page-loader">
              <img src="{{ base_path ~ directory }}/images/dashboard/loader.gif" alt="">
            </div> #}
            <div class="panel_wrap">
              <div class="total_loan_amt">
                <div class="row align-items-center justify-content-center m-lr-10">
                  <div class="col-auto">
                    <div class="icon-wrapper">
                      <img width="60" height="60" src="{{ base_path ~ directory }}/images/loan-amt.png" alt="">
                    </div>
                  </div>
                  <div class="col-auto">
                    <h6 class="label_heading">Total Loan Amount</h6>
                    <h5 class="label_value" id="loanAmount"><i class="icon-rupee"></i></h5>
                  </div>
                </div>
              </div>
              <div class="row p-tb-10">
                <div class="col-4">
                  <h5 class="label_heading">ROI </h5>
                  <h6 class="label_value" id="roi"></h6>
                </div>
                <div class="col-4">
                  <h5 class="label_heading">Tenure</h5>
                  <h6 class="label_value" id="tenure"></h6>
                </div>
                <div class="col-4">
                  <h5 class="label_heading">Monthly EMI</h5>
                  <h6 class="label_value" id="monthlyEMI"><i class="icon-rupee"></i></h6>
                </div>
                <div class="col-4">
                  <h5 class="label_heading">Balance Loan</h5>
                  <h6 class="label_value" id="loanBalance"><i class="icon-rupee"></i></h6>
                </div>
                <div class="col-4">
                  <h5 class="label_heading">No. of EMI Remaining</h5>
                  <h6 class="label_value" id="numberofEMIRemaining"></h6>
                </div>
                <div class="col-4">
                  <h5 class="label_heading">Next EMI date</h5>
                  <h6 class="label_value" id="nextEMIDate"></h6>
                </div>
              </div>
            </div>
          </section>

          <section class="panel emi_schedule-panel x-xs-0 relative">
            <div class="loader full_page-loader">
              <img src="{{ base_path ~ directory }}/images/dashboard/loader.gif" alt="">
            </div>
            <div class="panel_header">
              <h2 class="panel_heading">EMI Schedule</h2>
            </div>
            <div class="table_wrapper">
              <table class="table gradient-table" id="MonthlyEMI">
                <thead>
                  <tr>
                    <th>EMI Date</th>
                    <th>Amount(<i class="icon-rupee"></i>)</th>
                    <th>Principal(<i class="icon-rupee"></i>)</th>
                    <th>Interest(<i class="icon-rupee"></i>)</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {# <tr>
                    <td>22/12/2020</td>
                    <td>8500.00</td>
                    <td>2500.00</td>
                    <td>5000.00</td>
                    <td><span class="status paid">Paid</span></td>
                  </tr>
                  <tr>
                    <td>22/12/2020</td>
                    <td>8500.00</td>
                    <td>2500.00</td>
                    <td>5000.00</td>
                    <td><span class="status bounce">Bounce</span></td>
                  </tr>
                  <tr>
                    <td>22/12/2020</td>
                    <td>8500.00</td>
                    <td>2500.00</td>
                    <td>5000.00</td>
                    <td><span class="status paid">Paid</span></td>
                  </tr>
                  <tr>
                    <td>22/12/2020</td>
                    <td>8500.00</td>
                    <td>2500.00</td>
                    <td>5000.00</td>
                    <td><span class="status paid">Paid</span></td>
                  </tr>
                  <tr>
                    <td>22/12/2020</td>
                    <td>8500.00</td>
                    <td>2500.00</td>
                    <td>5000.00</td>
                    <td><span class="status paid">Paid</span></td>
                  </tr> #}
                </tbody>
              </table>
            </div>
          </section>

        </div>
      </div>
    </main>

  </div>

  <input type="hidden" id="userid" name="userid" value="{{userid}}">
  <input type="hidden" id="name" name="name" value="{{name}}">
  <input type="hidden" id="token" name="token" value="{{token}}">
  <input type="hidden" id="usertype" name="usertype" value="{{usertype}}">
